---
import { sanityClient, urlFor } from "@/utils/sanity-client";
import { PortableText } from "astro-portabletext";
import { projectsOverviewGroq } from "@/sanity/groq/projects-overview";
import { projectGroq } from "@/sanity/groq/project";
import Breadcrumb from "@/components/breadcrumb.svelte";
import Layout from "src/layouts/Layout.astro";
import ProjectImages from "@/components/project-images";

import type { InferGetStaticParamsType } from "astro";
import type { ProjectsOverview } from "@/sanity/types/projects-overview";
import type { Project } from "@/sanity/types/project";
import type { ImageGallery } from "@/sanity/types/image-gallery";

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

export async function getStaticPaths() {
  const projects: Array<ProjectsOverview> = await sanityClient.fetch(projectsOverviewGroq);
  return projects.map((project) => ({
    params: { slug: project.slug.current },
  }));
}

const { slug } = Astro.params as Params;

const project: Project = await sanityClient.fetch(projectGroq, { slug });
let pathname = Astro.url.pathname;

const imageGallery = Object.values(project.imageGallery);
---

<Layout title={`Project • ${project.title}`} description={project.metaDescription}>
  <Breadcrumb
    className='mx-auto mt-[72px] mb-12 w-full max-w-[840px]'
    path={pathname}
    client:load
  />
  <article class='my-6 mx-auto grid w-full max-w-[840px] gap-12 sm:my-12'>
    <section class='grid gap-4'>
      <h1 class='text-3xl font-bold sm:text-4xl'>{project.title}</h1>
      <p class='max-w-[768px] text-base'>{project.preamble}</p>
      <img
        class='h-[250px] w-full rounded-xl border object-cover object-top dark:border-transparent sm:h-[500px]'
        src={urlFor(project.accessibleImage).url()}
        alt={project.accessibleImage.alt}
      />
    </section>
    <section class='grid w-full gap-4 [&_a]:underline [&_h2]:mt-7 [&_h3]:mt-7 [&_li]:mb-2'>
      <PortableText value={project.blocks.body} />
    </section>
    <section
      class='mx-auto grid w-full max-w-[740px] gap-7 [&_h2]:text-xl [&_h2]:font-bold [&_h2]:sm:text-4xl [&_p]:mb-7'
    >
      <h2 class='mt-7 text-xl font-bold lg:text-2xl'>Additional Images</h2>
      <ul class='grid gap-x-10 gap-y-1 md:grid-cols-2 lg:grid-cols-3'>
        {imageGallery.map((image) => <ProjectImages data={image as ImageGallery} client:idle />)}
      </ul>
    </section>
  </article>
</Layout>
@/components/project-images
